<!DOCTYPE html>
<html lang="zh">
<head>
    <!-- 样式文件加载开始 -->
    <#include "../../include/res.html" >
    <!-- 样式文件加载结束 -->
    <title>任务列表</title>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="padding:3px 15px 0 20px;">
                    <div class="col-md-6">
                        <div class="search-form">
                            <form>
                                <div class="input-group">
                                    <input title="" type="text" name="search_val" placeholder="请根据任务名称查询"
                                           class="form-control search-input" id="search-input">
                                    <span class="input-group-btn search-span">
                                        <button class="btn btn-white btn-sm " type="button"
                                                onclick="dropdownSearchFun(this)"
                                                data-url="/s/kuaiShou/task/json/list"
                                                data-tid="table_jq" id="search-btn"><i class="fa fa-search"></i> 查询
                                        </button>

                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="ibox-tools m-t-xs">
                           <@shiro.hasPermission name=":s:task:json:delete">
                               <button href="javascript:void(0);" class="btn btn-white btn-sm " id="getBusy">
                                   &nbsp; 删除执行完的任务
                               </button>
                           </@shiro.hasPermission>
                    </div>
                </div>
                <div class="ibox-content">
                    <table id="table_jq"></table>
                    <div id="pager_jq"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- js加载-->
<#include "../../include/js.html">

<#--<script type="text/javascript" src="${cxt!}/ui/js/hm/administrator.js"></script>-->
<!-- Page-Level Scripts -->
<script>
    var winname = window.name;
    var winWidth = '80%',
        winHeight = '700px',
        addTitle = "添加操作员",
        addUrl = "/s/task/add",
        editTitle = "编辑操作员",
        editUrl = "/s/task/edit",
        disableTitle = "删除",
        disableUrl = "/s/task/json/delete",
        showTitle = "任务具体详情",
        showUrl = "/s/kuaiShou/task/taskDetails",
        resetUrl = "/s/admin/json/modifyDefaultPwd",
        jqGridId = "#table_jq",
        jqPageId = "#pager_jq",
        dataUrl = "/s/kuaiShou/task/json/list",
        treeUrl = "/s/admin/toZtreeDataPage",
        formId = "#form";
    lastsel = '';
    $(function () {
        $.jgrid.defaults.styleUI = "Bootstrap";
        $(jqGridId).jqGrid({
            url: dataUrl,
            datatype: "json",
            colNames: ['序号', '任务名称', '任务类型', '任务内容', '执行方式', '开始时间', '运行时长(Min)', '创建时间','结束时间','查看'],
            colModel: [
                {
                    name: 'id',
                    index: 'id',
                    width: '60'
                },
                {
                    name: "taskName",
                    index: "taskName",
                    width: '150'
                },
                {
                    name: 'taskTypeHtml',
                    index: 'taskTypeHtml',
                    width: '150',
                },
                {
                    name: 'taskContent',
                    index: 'taskContent',
                    width: '150'
                },
                {
                    name: 'taskRunCodeHtml',
                    index: 'taskRunCodeHtml',
                    width: '150',
                    // formatter: function (cellvalue, options, rowObject) {
                    //     var str = '';
                    //     if (cellvalue == "now") {
                    //         str = '<span class="label label-primary">立刻执行</span>';
                    //     } else if (cellvalue == "delay") {
                    //         str = '<span class="label label-info">定时任务</span>';
                    //     }
                    //     return str;
                    // }
                },
                {
                    name: 'taskStartTime',
                    index: 'taskStartTime',
                    width: '150'
                },
                {
                    name: 'taskExpectRunning',
                    index: 'taskExpectRunning',
                    width: '150'
                },
                {
                    name: 'createTime',
                    index: 'createTime',
                    width: '150'
                },
                {
                    name: 'taskEndTime',
                    index: 'taskEndTime',
                    width: '150'
                },
                {
                    width: '150',
                    formatter: function (cellvalue, options, rowObject) {
                        var str = '', edit;
                        edit =
                            "<a onclick='showReviewDetail(" + rowObject.id + ")'>查看</a>";
                        return str + edit;
                    }
                }],
            autowidth: true,
            height: "100%",
            width: "100%",
            rowNum: 100,
            rowList: [100, 150, 200],
            pager: jqPageId,
            mtype: "post",
            viewrecords: true,
            rownumbers: true,
            multiselect: true,
            cellsubmit: "clientArray",
            editurl: editUrl,
            onSelectRow: function (id) {
                if (id && id !== lastsel) {
                    jQuery(jqGridId).jqGrid('restoreRow', lastsel);
                    jQuery(jqGridId).jqGrid('editRow', id, true);
                    lastsel = id;
                }
            },
            jsonReader: {
                root: "exhibitDatas",
                page: "nowPage",
                total: "pageCount",
                records: "recordCount",
                repeatitems: false,
                id: "0"
            }
        });

        jQuery(jqGridId).jqGrid('navGrid', jqPageId, {
                add: false,
                del: false,
                edit: false,
                search: false,
                position: 'right'
            },
            {},
            {},
            {},
            {});
    });

    jQuery("#getBusy").click(function () {
        if (confirm("你确定删除么")) {
        $.ajax({
            async: "true",
            url: disableUrl,
            data: "",
            success: function (data) {
                if (data.code === 200) {
                    parent.notifications('success', "删除成功");
                    $(jqGridId).jqGrid('setGridParam', {url: dataUrl, page: 1}).trigger("reloadGrid");
                } else {
                    parent.notifications('error', data.msg);
                }
            },
            error: function () {
                parent.notifications('error', "操作失败,请检查网络!");
            }
        });
    }else {
            return;
        }
    });

    function showReviewDetail(id) {
        var ids = [id];
        hm_fn_viewFun1(showTitle, winWidth, winHeight, showUrl, ids, winname);
    }

    $(window).bind("resize", function () {
        var width = $(".ibox-content").width();
        $("#table_jq").setGridWidth(width);
    });


</script>
</body>
</html>