<!DOCTYPE html>
<html>
<head>
    <!-- 样式文件加载开始 -->
<#include "../include/res.html" >
    <!-- 样式文件加载结束 -->
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="padding:3px 15px 0 20px;">
                    <div class="col-md-6">
                        <div class="search-form">
                            <form>
                                <div class="input-group">
                                    <input title="" type="text" name="search_val" placeholder="请输入话术名称进行搜索"
                                           class="form-control search-input" id="search-input">
                                    <span class="input-group-btn search-span">
                                        <button class="btn btn-white btn-sm " type="button" onclick="dropdownSearchFun(this)"
                                                data-url="${cxt!}/s/commentTemplate/json/list"
                                                data-tid="table_jq" id="search-btn"><i class="fa fa-search"></i> 查询
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="ibox-tools m-t-xs">
                        <div class="btn-group">
                            <button href="javascript:void(0);"
                               onclick="hm_fn_addFun(addTitle,winWidth,winHeight,addUrl,formId,winname)"
                               class="btn btn-white btn-sm">
                                <i class="fa fa-plus"></i>&nbsp;添加
                            </button>

                            <@shiro.hasPermission name=":s:commentTemplate:list">
                            <button href="javascript:void(0);" class="btn btn-white btn-sm" id="Edit">
                                <i class="fa fa-edit"></i>&nbsp;编辑
                            </button>
                            </@shiro.hasPermission>
                            <button href="javascript:void(0);" class="btn btn-white btn-sm" id="Dis">
                                <i class="fa fa-lock"></i>&nbsp;删除
                            </button>

                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <table id="table_jq"></table>
                    <div id="pager_jq"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- js加载-->
<#include "../include/js.html">

<script type="text/javascript" src="${cxt!}/ui/js/hm/addCommentTemplate.js"></script>
<!-- Page-Level Scripts -->
<script>
    var winname = window.name;
    var     winWidth = '850px',
            winHeight = '650px',
            addTitle = "添加话术",
            addUrl = "/s/commentTemplate/add",
            editTitle = "编辑话术",
            editUrl = "/s/commentTemplate/edit",
            disableTitle = "删除",
            disableUrl = "/s/commentTemplate/json/del",
            startUpTitle = "启用",
            startUpUrl = "/s/admin/json/startUsing",
            resetUrl = "/s/admin/json/modifyDefaultPwd",
            jqGridId = "#table_jq",
            jqPageId = "#pager_jq",
            dataUrl = "/s/commentTemplate/json/list",
            treeUrl = "/s/admin/toZtreeDataPage",
            formId = "#form";
            lastsel = '';
    $(function () {
        $.jgrid.defaults.styleUI = "Bootstrap";
        $(jqGridId).jqGrid({
            url: dataUrl,
            datatype: "json",
            colNames: ['序号', '名称', '随机字符', '是否启用', '创建时间','最后连接时间'],
            colModel: [
                {
                    name: 'id',
                    index: 'id',
                    width: 1,
                    hidden: true,
                    key: true
                },
                {
                    name: 'name',
                    index: 'name',
                    width: '150'
                },
                {
                    name: 'symbol',
                    index: 'symbol',
                    width: '150',
                    formatter: function (cellvalu, options, rowObject) {
                        var str = '';
                        if (cellvalu == 0) {
                            str = '<span class="label label-default">关闭</span>';
                        } else if (cellvalu == 1) {
                            str = '<span class="label label-success">开启</span>';
                        }
                        return str;
                    }
                },
                {
                    name: 'open',
                    index: 'open',
                    width: '150',
                    formatter: function (cellvalue, options, rowObject) {
                        var str = '';
                        if (cellvalue == 0) {
                            str = '<span class="label label-default">关闭</span>';
                        } else if (cellvalue == 1) {
                            str = '<span class="label label-danger">开启</span>';
                        }
                        return str;
                    }
                },
                {
                    name: 'createTime',
                    index: 'createTime',
                    width: '150'
                },
                {
                    name: 'lastTime',
                    index: 'lastTime',
                    width: '150'
                }/*,
                {
                    name: 'tax',
                    index: 'tax',
                    width: '150',
                    formatter: function (cellvalue, options, rowObject) {
                        var str = '';
                        str += '<a style="margin-bottom:0;" class="btn btn-white btn-xs btn-bitbucket" title="编辑" onclick="hm_fn_editFun(editTitle,winWidth,winHeight,editUrl,' + "'" + rowObject.id + "'" + ',winname)"><i class="fa fa-edit"></i></a>&nbsp;';
                        if (rowObject.status == 1) {
                            str += '<a style="margin-bottom:0;" class="btn btn-default btn-xs btn-bitbucket" title="禁用" onclick="hm_fn_doAction(jqGridId,dataUrl,disableUrl,' + "'" + rowObject.id + "'" + ',disableTitle)"><i class="fa fa-times"></i></a>&nbsp;';
                        } else {
                            str += '<a style="margin-bottom:0;" class="btn btn-white btn-xs btn-bitbucket" title="启用" onclick="hm_fn_doAction(jqGridId,dataUrl,startUpUrl,' + "'" + rowObject.id + "'" + ',startUpTitle)"><i class="fa fa-check-circle-o"></i></a>&nbsp;';
                        }
                        str += '<a style="margin-bottom:0;" class="btn btn-white btn-xs btn-bitbucket" title="分配角色" onclick="AdministratorJs.distributeRole(' + "'" + rowObject.id + "'" + ',treeUrl,winname)" ><i class="fa fa-wrench"></i></a>&nbsp;';
                        str += '<a style="margin-bottom:0;" class="btn btn-white btn-xs btn-bitbucket" title="重置" onclick="hm_fn_resetFun(jqGridId,dataUrl,resetUrl,' + "'" + rowObject.id + "'" + ')"><i class="fa fa-recycle"></i></a>';
                        return str;
                    }
                }*/],
            autowidth: true,
            height: "100%",    // 设为具体数值则会根据实际记录数出现垂直滚动条
            width: "100%",
            rowNum: 20,
            rowList: [20, 30, 50],
            pager: jqPageId,
            mtype: "post",
            viewrecords: true,
            rownumbers: true,
            multiselect: true,
            cellsubmit: "clientArray",
            editurl:editUrl,
            onSelectRow: function (id) {
                if (id && id !== lastsel) {
                    jQuery(jqGridId).jqGrid('restoreRow', lastsel);
                    jQuery(jqGridId).jqGrid('editRow', id, true);
                    lastsel = id;
                }
            },
            jsonReader: {
                root: "exhibitDatas",
                page: "nowPage",
                total: "pageCount",
                records: "recordCount",
                repeatitems: false,
                id: "0"
            }
        });

        jQuery(jqGridId).jqGrid('navGrid', jqPageId, {
            add : false,
            del : false,
            edit : false,
            search: false,
            position : 'right'
        },
        {},
        { },
        { },
        {});
    });


    $(window).bind("resize", function () {
        var width = $(".ibox-content").width();
        $("#table_jq").setGridWidth(width);
    });

    jQuery("#Edit").click(function () {
        var ids = jQuery(jqGridId).jqGrid('getGridParam', 'selarrrow');
        if (ids == '') {
            parent.notifications('error', "请选择一条数据");
            return false;
        }
        if (ids.length > 1) {
            parent.notifications('error', "只能选择一条数据");
            return false;
        }
        hm_fn_editFun(editTitle,winWidth,winHeight,editUrl,ids,winname);
    });
    jQuery("#Dis").click(function () {
        var ids = jQuery(jqGridId).jqGrid('getGridParam', 'selarrrow');
        if (ids == '') {
            parent.notifications('error', "请至少选择一条数据");
            return false;
        }
        hm_fn_doAction(jqGridId,dataUrl,disableUrl,ids,disableTitle)
    });
    jQuery("#Ena").click(function () {
        var ids = jQuery(jqGridId).jqGrid('getGridParam', 'selarrrow');
        if (ids == '') {
            parent.notifications('error', "请至少选择一条数据");
            return false;
        }
        hm_fn_doAction(jqGridId,dataUrl,startUpUrl,ids,startUpTitle)
    });
    jQuery("#Auth").click(function () {
        var ids = jQuery(jqGridId).jqGrid('getGridParam', 'selarrrow');
        if (ids == '') {
            parent.notifications('error', "请选择一条数据");
            return false;
        }
        if (ids.length > 1) {
            parent.notifications('error', "只能选择一条数据");
            return false;
        }
        AdministratorJs.distributeRole(ids,treeUrl,winname)
    });
    jQuery("#Reset").click(function () {
        var index = parent.layer.getFrameIndex(window.name);
        var ids = jQuery(jqGridId).jqGrid('getGridParam', 'selarrrow');
        if (ids == '') {
            parent.notifications('error', "请至少选择一条数据");
            return false;
        }
        layer.prompt({title: '请输入密码并确认'}, function(text, index){
            layer.close(index);
            $.ajax({
                async:"true",
                url: resetUrl,
                data: "ids="+ids + "&pass="+text,
                success: function(data){
                    if(data.code === 200){
                        parent.notifications('success',"重置成功");
                        $(jqGridId).jqGrid('setGridParam', { url : dataUrl, page : 1 }).trigger("reloadGrid");
                    }else{
                        parent.notifications('error',data.msg);
                    }
                },
                error:function(){
                    parent.notifications('error',"操作失败,请检查网络!");
                },
                complete:function(){
                    parent.layer.close(index);
                }
            });
        });
    });

</script>
</body>
</html>