<!DOCTYPE html>
<html>
<head>
    <!-- 样式文件加载-->
<#include "../../include/res.html" >
    <link rel="stylesheet" type="text/css" href="${cxt!}/ui/css/plugins/webuploader/webuploader.css">
</head>
<body class="white-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="form" action="/s/admin/json/add">
                    <#include "_form.html"/>
                        <input name="id" type="hidden" id="id" value="${(adminInfo.id)!}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- js加载 -->
<#include "../../include/js.html">
<script type="text/javascript" src="${cxt!}/ui/js/hm/administrator.js"></script>

<script type="text/javascript">
    var webuploader_server = "${image_url!}";
    var jqGridId = "#table_jq",
            dataUrl = "${cxt!}/modules/system/admin/getDataByAjax",
            formId = "#form",
            winname = "${winname!}";
    jQuery(document).ready(function () {
        var ipt = $('#ports');
        ipt.on('keyup',function(){
            if(! /^\d+$/.test(this.value)){
                this.value='';
            }
        });
        AdministratorJs.init();
    });
    function validateForm() {
        $(formId).submit();
    }
</script>
<script src="${cxt!}/ui/js/lib/webuploader/webuploader.min.js"></script>
<script src="${cxt!}/ui/js/hm/adminadd_imgupload.js"></script>
</body>

</html>