<!DOCTYPE html>
<html>
<head>
    <!-- 样式文件加载开始 -->
    <#include "/include/res.html" >
    <!-- 样式文件加载结束 -->
</head>
<body class="white-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content">
                <div class="form-group">
                    <div class="col-sm-6 form-group">
                        <label class="col-sm-4 control-label">id:<i class="required-help">*</i></label>
                        <div class="col-sm-8">
                            <input type="text" name="id" value="${(record.id)!}" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="col-sm-4 control-label">用户名:<i class="required-help">*</i></label>
                        <div class="col-sm-8">
                            <input type="text" name="userId" value="${(record.nickName)!}" class="form-control"
                                   readonly>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6 form-group">
                        <label class="col-sm-4 control-label">源商品:<i class="required-help">*</i></label>
                        <div class="col-sm-8">
                            <input type="text" name="sourceId" value="${(record.sourceName)!}"
                                   class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="col-sm-4 control-label">置换数量:<i class="required-help">*</i></label>
                        <div class="col-sm-8">
                            <input  type="number" name="count" value="${(record.count)!}" class="form-control"
                                    readonly>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-6 form-group">
                        <label class="col-sm-4 control-label">置换商品:<i class="required-help">*</i></label>
                        <div class="col-sm-8">
                            <input type="text" name="targetId" value="${(record.targetName)!}"
                                   class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="col-sm-4 control-label">置换所得数量:<i class="required-help">*</i></label>
                        <div class="col-sm-8">
                            <input  type="number" name="afterCount" value="${(record.afterCount)!}" class="form-control"
                                    readonly>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6 form-group">
                        <label class="col-sm-4 control-label">置换比例:<i class="required-help">*</i></label>
                        <div class="col-sm-8">
                            <input  type="text" name="scale" value="${(record.scale)!}" class="form-control"
                                    readonly>
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="col-sm-2 control-label">状态</label>
                        <div class="col-sm-8">
                            <#if record.status == 2>
                            <input type="text" name="status" value="审核通过" class="form-control" readonly>
                            </#if>
                            <#if record.status == 3>
                            <input type="text" name="status" value="审核不通过" class="form-control" readonly>
                            </#if>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10 form-group">
                        <label class="col-sm-2 control-label">审核说明:<i class="required-help">*</i></label>
                        <div style="margin-left: 100px">
                            <textarea id="remark" name="remark" rows="10" maxlength="200" readonly class="form-control">${(record.remark)!}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- js加载开始 -->
<#include "/include/js.html">
<script type="text/javascript" src="${cxt!}/ui/js/hm/tradeDelivery.js"></script>
<script type="text/javascript">
    var jqGridId = "#table_jq",
        dataUrl = "${cxt!}/s/trade/tradeDelivery/list",
        formId = "#form",
        winname = "${winname!}";


    var funcs = {
        initSubmit: function (form) {
            $(formId).validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {},
                invalidHandler: function (event, validator) { //display error alert on form submit
                },
                highlight: function (element) { // hightlight error inputs
                    $(element).closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function (element) { // revert the change done by hightlight
                    $(element).closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function (label) {
                    label.closest('.form-group').removeClass('has-error'); // set success class to the control group
                    label.remove();
                },
                submitHandler: function (form) {
                    var index = parent.layer.getFrameIndex(window.name);
                    //loading层提示
                    var loading = layer.load(2, {
                        shade: [0.3, '#fff']
                    });
                    $.ajax({
                        type: "POST",
                        async: false,
                        data: $(form).serialize(),
                        url: "/s/trade/tradeDelivery/save",
                        success: function (data) {
                            var successMsg = data.msg || "操作成功!",
                                failedMsg = data.msg || "操作失败!";
                            var title = "系统提示";
                            if (data.result) {
                                parent.notifications('success', successMsg, title);
                            } else {
                                parent.notifications('error', failedMsg, title);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            parent.notifications('error', "操作失败,请检查网络!", title);
                        },
                        complete: function () {
                            layer.close(loading);
                            parent.layer.close(index);
                        }
                    });
                }
            });
        }

    };


    jQuery(document).ready(function () {
        funcs.initSubmit();
    });

    function validateForm() {
        $(formId).submit();
    }
</script>
</body>

</html>