<!DOCTYPE html>
<html>
<head>
    <!-- 样式文件加载开始 -->
    <#include "/include/res.html" >
    <!-- 样式文件加载结束 -->
</head>
<body class="white-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content">


                <form method="post" name="pay" id="pay" action="https://qyfapi.95epay.com/api/api/pay/toPay"
                      class="form-horizontal m-t" id="form">
                    <input name="merNo"  value="00000001">
                    <input name=\"version\"  value="1.1"/>
                    <input name=\"notifyUrl\" value= ""/>
                    <input name=\"timestamp\" value= "2019-07-04 09:59:20"/>
                    <input name=\"apiContent\"  value= {"sellerNo":\"1230",\"payChannels\":\"\",\"orderBody\":\"\",\"payAmount\":\"10\",\"apiPayType\":\"\",\"merMerOrderNo\":\"20190704095920804919\",\"tradeType\":\"1\",\"buyerNo\":\"\",\"undiscountableAmount\":\"10\",\"orderSubject\":\"小花花\",\"routingMerNo\":\"123456789\",\"routingFee\":\"10\",\"returnUrl\":\"https://qyfapi.95epay.com/api/api/pay/toPay\",\"ptUndertakeRate\":1}"/>
                    <input name=\"signType\"  value= "" />
                    <input name=\"sign\"  value= "" />
                    <input type="submit" value="提交">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- js加载开始 -->
<#include "/include/js.html">
<script src="${cxt!}/ui/plugins/ueditor/ueditor.config.js"></script>
<script src="${cxt!}/ui/plugins/ueditor/ueditor.all.js"></script>

<script type="text/javascript">
    var jqGridId = "#table_jq",
        dataUrl = "${cxt!}/s/sysHelp/json/list",
        formId = "#form",
        winname = "${winname!}";


        var funcs = {
        initEditor: function() {
            var ueAdd = UE.getEditor('contentAdd', {textarea: 'content'});
        },
        initSubmit: function (form) {
            $(formId).validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
                },
                invalidHandler: function(event, validator) { //display error alert on form submit
                },
                highlight: function(element) { // hightlight error inputs
                    $(element).closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function(element) { // revert the change done by hightlight
                    $(element).closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function(label) {
                    label.closest('.form-group').removeClass('has-error'); // set success class to the control group
                    label.remove();
                },
                submitHandler: function(form) {
                    var index = parent.layer.getFrameIndex(window.name);
                    var title = "系统提示";
                    //loading层提示
                    var loading = layer.load(2, {
                        shade: [0.3, '#fff']
                    });
                    $.ajax({
                        type: "POST",
                        async: false,
                        data: $(form).serialize(),
                        url: "/s/sysHelp/json/save",
                        success: function(data) {
                            var successMsg = "操作成功!",
                                failedMsg = "操作失败!";

                            if (data.code == 200) {
                                parent.notifications('success', successMsg, title);
                            } else {
                                parent.notifications('error', failedMsg, title);
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            parent.notifications('error', "操作失败,请检查网络!", title);
                        },
                        complete: function() {
                            layer.close(loading);
                            parent.layer.close(index);
                        }
                    });
                }
            });
        }

    };


    jQuery(document).ready(function () {
        funcs.initSubmit();
        funcs.initEditor();
    });

    function validateForm() {
        $(formId).submit();
    }
</script>
</body>

</html>