<!DOCTYPE html>
<html>
<head>
    <!-- 样式文件加载开始 -->
    <#include "/include/res.html" >
    <!-- 样式文件加载结束 -->
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="padding:3px 15px 0px 20px;">
                    <div class="col-md-6">
                        <div class="search-form">
                            <form>
                                <div class="input-group">
                                    <input type="text" name="search_val" placeholder="请输入用户名/商品名称/代码进行搜索"
                                           class="form-control search-input" id="search-input">
                                    <span class="input-group-btn search-span">
                                        <button class="btn btn-white btn-sm " type="button"
                                                onclick="dropdownSearchFun(this)"
                                                data-url="${cxt!}/s/trade/delivery/list_json?type=2"
                                                data-tid="table_jq" id="search-btn"><i class="fa fa-search"></i> 查询
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="search-form-adv ml10">
                            <form>
                                <input type="hidden" name="fast_search" value="true">
                                <div class="btn-group" onclick="dropdownSelectHoverFun(this)">
                                    <button type="button" class="btn btn-white dropdown-select-toggle" data-toggle="#"
                                            aria-haspopup="true" aria-expanded="false"> 条件查询 <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu search-menu">
                                        <li class="input-group input-group-sm">
                                            <span>姓名</span>
                                            <input type="text" name="*_u.real_name" class="hm-search-w208">
                                        </li>
                                        <li class="input-group input-group-sm">
                                            <span>手机号</span>
                                            <input type="text" name="*_u.phone" class="hm-search-w208">
                                        </li>
                                        <li class="input-group input-group-sm">
                                            <span>商品名称</span>
                                            <input type="text" name="*_t.name" class="hm-search-w208">
                                        </li>
                                        <li class="input-group input-group-sm">
                                            <span>商品代码</span>
                                            <input type="text" name="*_t.code" class="hm-search-w208">
                                        </li>
                                        <li class="input-group input-group-sm">
                                            <span>状态</span>
                                            <select name="*=state" class="hm-search-w208">
                                                <option value="" selected="selected">全部</option>
                                                <option value="2">审核通过</option>
                                                <option value="3">审核不通过</option>
                                            </select>
                                        </li>
                                        <li class="input-group input-group-sm">
                                            <span>发货状态</span>
                                            <select name="*=status" class="hm-search-w208">
                                                <option value="" selected="selected">全部</option>
                                                <option value="1">待发货</option>
                                                <option value="2">已发货</option>
                                            </select>
                                        </li>
                                        <li class="input-group input-group-sm">
                                            <span>申请时间</span>
                                            <input placeholder="开始日期" class="hm-search-w208 layer-date"
                                                   name="*start_apply_time" style="width: 100px;" id="start" >
                                            <input placeholder="结束日期" class="hm-search-w208 layer-date"
                                                   name="*end_apply_time" style="width: 100px;" id="end">
                                        </li>
                                        <li class="input-group input-group-sm">
                                            <span>审核时间</span>
                                            <input placeholder="开始日期" class="hm-search-w208 layer-date"
                                                   name="*start_verify_time" style="width: 100px;" id="start1">
                                            <input placeholder="结束日期" class="hm-search-w208 layer-date"
                                                   name="*end_verify_time" style="width: 100px;" id="end1">
                                        </li>

                                        <li>
                                            <span>&nbsp;</span>
                                            <button class="btn btn-white btn-sm" type="button"
                                                    onclick="dropdownSearchFun(this)"
                                                    data-url="${cxt!}/s/trade/delivery/list_json?type=2"
                                                    data-tid="table_jq" id="search-btn"><i class="fa fa-search"></i> 查询
                                            </button>
                                            <button class="btn btn-white btn-sm" type="button"
                                                    onclick="dropdownSearchCleanFun(this)"
                                                    data-url="/s/trade/delivery/list_json?type=2"
                                                    data-tid="table_jq" id="clear-btn"><i class="fa fa-retweet"></i> 清空
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="ibox-tools m-t-xs">
                        <div class="btn-group">
                            <@shiro.hasPermission name=':s:trade:delivery:export'>
                            <button class="btn btn-white btn-sm"
                                    onclick="exportFun(this)"
                                    data-url="/s/trade/delivery/export?type=2"
                                    data-tid="table_jq">
                                <i class="fa fa-download"></i>&nbsp;导出
                            </button>
                            </@shiro.hasPermission>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <table id="table_jq"></table>
                    <div id="pager_jq"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- js加载-->
<#include "/include/js.html">

<script type="text/javascript" src="${cxt!}/ui/js/hm/administrator.js"></script>
<!-- Page-Level Scripts -->
<script>
    var start = {
        elem: "#start",
        format: "YYYY-MM-DD",
        // min: laydate.now(),
        max: "2099-06-16 23:59:59",
        istime: false,
        istoday: false,
        festival: true, //是否显示节日
        // isclear: false, //是否显示清空
        choose: function (datas) {
            end.min = datas;
            end.start = datas
        }
    };
    var end = {
        elem: "#end",
        format: "YYYY-MM-DD",
        // min: laydate.now(),
        max: "2099-06-16 23:59:59",
        istime: false,
        istoday: false,
        // isclear: false, //是否显示清空
        festival: true, //是否显示节日
        choose: function (datas) {
            start.max = datas
        }
    };
    var start1 = {
        elem: "#start1",
        format: "YYYY-MM-DD",
        // min: laydate.now(),
        max: "2099-06-16 23:59:59",
        istime: false,
        istoday: false,
        festival: true, //是否显示节日
        // isclear: false, //是否显示清空
        choose: function (datas) {
            end1.min = datas;
            end1.start = datas
        }
    };
    var end1 = {
        elem: "#end1",
        format: "YYYY-MM-DD",
        // min: laydate.now(),
        max: "2099-06-16 23:59:59",
        istime: false,
        istoday: false,
        // isclear: false, //是否显示清空
        festival: true, //是否显示节日
        choose: function (datas) {
            start1.max = datas
        }
    };
    laydate(start);
    laydate(end);
    laydate(start1);
    laydate(end1);
    //鼠标按下事件，清空选择时间限制
    $("#clear-btn").mousedown(function () {
        start.max ="", end.min ="",
        start1.max ="", end1.min =""
    })
    var winname = window.name;
    var winWidth = '850px',
        winHeight = '500px',
        sendOutTitle = "发货",
        sendOutUrl = "/s/trade/delivery/sendOut",
        lookTitle = "查看",
        lookUrl = "/s/trade/delivery/look",
        jqGridId = "#table_jq",
        jqPageId = "#pager_jq",
        dataUrl = "/s/trade/delivery/list_json?type=2",
        formId = "#form";

    $(function () {
        $.jgrid.defaults.styleUI = "Bootstrap";
        $(jqGridId).jqGrid({
            url: dataUrl,
            datatype: "json",
            colNames: ['ID', '姓名','手机号','商品名称', '商品代码', '提取数量', '配送地址','状态','发货状态','申请时间','审核时间','操作'],
            colModel: [
                {
                    name: 'id',
                    index: 'id',
                    width: 1,
                    hidden: true,
                    key: true
                },
                {
                    name: 'realName',
                    index: 'realName',
                    width: '110',
                    sortable: false,
                },
                {
                    name: 'userPhone',
                    index: 'userPhone',
                    width: '110',
                    sortable: false,
                }
                , {
                    name: 'name',
                    index: 'name',
                    width: '150'
                }
                , {
                    name: 'code',
                    index: 'code',
                    width: '150'
                }
                , {
                    name: 'count',
                    index: 'count',
                    width: '150'
                }
                , {
                    name: 'address',
                    index: 'address',
                    width: '150'
                }

                ,{
                    name: 'stateFormatter',
                    index: 'stateFormatter',
                    width: '150',
                    formatter: function (cellvalue, options, rowObject) {
                        var str = "";
                        if (rowObject.state == 1){
                            str += "<span class='label label-primary'>"+cellvalue+"</span>";
                        } else if (rowObject.state == 2) {
                            str += "<span class='label label-success'>"+cellvalue+"</span>";
                        }else if (rowObject.state == 3){
                            str += "<span class='label label-danger'>"+cellvalue+"</span>";
                        }
                        return str;
                    }
                }
                ,{
                    name: 'statusFormatter',
                    index: 'statusFormatter',
                    width: '150',
                    formatter: function (cellvalue, options, rowObject) {
                        var str = "";
                        if (rowObject.status == 1){
                            str += "<span class='label label-primary'>"+cellvalue+"</span>";
                        } else if (rowObject.status == 2) {
                            str += "<span class='label label-success'>"+cellvalue+"</span>";
                        }
                        return str;
                    }
                }
                , {
                    name: 'applyTime',
                    index: 'applyTime',
                    width: '150'
                }
                , {
                    name: 'verifyTime',
                    index: 'verifyTime',
                    width: '150'
                }
                ,{
                    name: 'options',
                    index: 'options',
                    width: '150',
                    formatter:function (cellvalue,options,rowObject) {
                        var str = "";
                        if (rowObject.state == 2 && rowObject.status == 1){
                            str +="<@shiro.hasPermission name=':s:trade:delivery:sendOut'>" +
                                "<a onclick='sendOut("+rowObject.id+")'>&nbsp;&nbsp;发货&nbsp;&nbsp;</a>" +
                                "</@shiro.hasPermission>";
                        }
                        str +="<@shiro.hasPermission name=':s:trade:delivery:look'>" +
                            "<a onclick='look("+rowObject.id+")'>&nbsp;&nbsp;查看&nbsp;&nbsp;</a>" +
                            "</@shiro.hasPermission>";
                        return str;
                    }
                }

            ],

            autowidth: true,
            height: "100%",    // 设为具体数值则会根据实际记录数出现垂直滚动条
            width: "100%",
            rowNum: 20,
            rowList: [20, 30, 50],
            pager: jqPageId,
            mtype: "post",
            viewrecords: true,
            rownumbers: false,
            multiselect: false,
            cellsubmit: "clientArray",
            onSelectRow: function (id) {
                if (id && id !== lastsel) {
                    jQuery(jqGridId).jqGrid('restoreRow', lastsel);
                    jQuery(jqGridId).jqGrid('editRow', id, true);
                    lastsel = id;
                }
            },
            jsonReader: {
                root: "exhibitDatas",
                page: "nowPage",
                total: "pageCount",
                records: "recordCount",
                repeatitems: false,
                id: "0"
            }
        });

        jQuery(jqGridId).jqGrid('navGrid', jqPageId, {
                add: false,
                del: false,
                edit: false,
                search: false,
                position: 'right'
            },
            {},
            {closeAfterSearch: true, reloadAfterSubmit: true},
            {closeAfterSearch: true, reloadAfterSubmit: true},
            {sopt: ['cn', 'eq'], closeAfterSearch: true, multipleSearch: true});
    });


    $(window).bind("resize", function () {
        var width = $(".ibox-content").width();
        $("#table_jq").setGridWidth(width);
    });

    /** 修改弹窗 */
    jQuery("#Edit").click(function () {
        var ids = jQuery(jqGridId).jqGrid('getGridParam', 'selarrrow');
        if (ids == '') {
            parent.notifications('error', "请选择一条数据");
            return false;
        }
        if (ids.length > 1) {
            parent.notifications('error', "只能选择一条数据");
            return false;
        }
        hm_fn_editFun(editTitle, winWidth, winHeight, editUrl, ids, winname);
    });

    /**
     * 发货
     * @param id
     * @returns {boolean}
     */
    function sendOut(id) {
        if (id == '') {
            parent.notifications('error', "请选择一条数据");
            return false;
        }
        hm_fn_editFun(sendOutTitle,winWidth,winHeight,sendOutUrl,id,winname)
    }

    /**
     * 查看
     * @param id
     * @returns {boolean}
     */
    function look(id) {
        if (id == '') {
            parent.notifications('error', "请选择一条数据");
            return false;
        }
        hm_fn_viewFun1(lookTitle,winWidth,winHeight,lookUrl,id)
    }
</script>
</body>
</html>