<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="/ui/js/jquery-1.7.1.js"></script>
    <style>
        .bg-purple-dark {
            /* background: #99a9bf; */
        }
        .hide5 .el-upload--picture-card {
            display: none;
        }
        .hide1 .el-upload--picture-card {
            display: none;
        }
        .hide3 .el-upload--picture-card {
            display: none;
        }
        .hide6 .el-upload--picture-card {
            display: none;
        }
        .hide4 .el-upload--picture-card {
            display: none;
        }
        .hide2 .el-upload--picture-card {
            display: none;
        }
        .bg-purple {
            /* background: #d3dce6; */
        }
        .bg-purple-light {
            /* background: #e5e9f2; */
        }
        .el-upload {
            position: relative;
        }
        .grid-content {
            min-height: 40px;
            line-height: 40px;
            text-align: center;
            margin-bottom: 5px;
        }
        .row-bg {
            padding: 10px 0;
            background-color: #f9fafc;
        }
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .el-upload-list__item-actions {
            width: 0!important;
            height: 0!important;
        }
        .el-upload-list__item is-success {
            width: 100px!important;
            height: 100px!important;
        }
        .el-upload-list__item is-progress {
            width: 100px!important;
            height: 100px!important;
        }
        /*.el-date-picker__header--bordered {*/
            /*display: none!important;*/
        /*}*/
        .el-upload-list--picture-card .el-upload-list__item {
            width: 100px!important;
            height: 100px!important;
        }
        .el-upload-list__item is-success img {
            width: 100px!important;
            height: 100px!important;
        }
        .el-upload-list__item is-progress img {
            width: 100px!important;
            height: 100px!important;
        }
        .el-icon-plus {
            position: absolute;
            bottom: 34px;
            left: 36px;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 100px;
            height: 100px;
            line-height: 100px;
            text-align: center;
        }
        .el-upload--picture-card {
            width: 100px !important;
            height: 100px!important;
        }
        .avatar {
            width: 100px;
            height: 100px;
            display: block;
        }
        .tl {
            text-align: left;
            margin-bottom: 5px;
            border: 1px solid rgba(204, 204, 204, 1);
            padding: 15px 20px 20px 20px;
            background-color: rgba(242, 242, 242, 1);
        }
        .f14 {
            font-size: 14px;
        }
        .tr {
            text-align: right;
            padding-right: 10px;
        }
        .disabled .el-upload--picture-card {
            display: none;
        }
        .el-upload-list--picture-card .el-progress {
            width: 100px;
        }
        .el-progress-circle {
            width: 100px!important;
            height: 100px!important;
        }
        .el-upload-list__item-actions {
              z-index: 0;
          }
    </style>
</head>
<body style="background-color: #fff">
<div id="app">
    <el-row>
        <el-col :span="24"><div class="grid-content bg-purple tl">商品基本信息</div></el-col>
    </el-row>
    <el-row style="margin-bottom: 5px">
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">封面图<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="21">
            <el-upload
                    action="http://localhost:8130/s/file/tree_multi_upload"
                    list-type="picture-card"
                    ref="cover"
                    :class="{hide5:hideUpload5}"
                    :file-list="fileList5"
                    :on-success="show5"
                    :on-remove="remove5"
                    :on-exceed="exceed5"
                    :on-error="error5"
                    accept="image/*"
                    :limit="1">
                <i class="el-icon-plus"></i>
            </el-upload>
            <!--<el-dialog :visible.sync="dialogVisible5">-->
                <!--<img width="100%" :src="dialogImageUrl5" alt="">-->
            <!--</el-dialog>-->
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">商品名称<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="8">
            <div class="grid-content bg-purple-light">
                <el-input v-model="goodsName" :disabled="true"></el-input>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">标签<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="8">
            <div class="grid-content bg-purple-light">
                <el-input v-model="label" :disabled="true"></el-input>
            </div>
        </el-col>
    </el-row>
    <el-row style="margin-bottom: 5px">
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">标签图片<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="21">
            <el-upload
                    action="http://localhost:8130/s/file/tree_multi_upload"
                    list-type="picture-card"
                    :on-success="show1"
                    :on-exceed="exceed1"
                    :on-remove="remove1"
                    :on-error="error1"
                    :class="{hide1:hideUpload1}"
                    :file-list="fileList1"
                    ref="label"
                    accept="image/*"
                    :limit="1">
                <i class="el-icon-plus"></i>
            </el-upload>
            <el-dialog :visible.sync="dialogVisible1">
                <img width="100%" :src="dialogImageUrl1" alt="">
            </el-dialog>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">描述:</div></el-col>
        <el-col :span="8">
            <div class="grid-content bg-purple-light">
                <el-input v-model="describe" :disabled="true"></el-input>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr" style="white-space:nowrap">销售截止时间<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="8">
            <el-date-picker
                    :disabled="true"
                    v-model="limitTime"
                    type="date"
                    placeholder="选择日期"
                    :picker-options="pickerOptions0" style="width: 100%">
            </el-date-picker>
        </el-col>
    </el-row>
    <el-row style="margin-bottom: 5px">
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">视频:</div></el-col>
        <el-col :span="21">
            <el-upload
                    action="http://localhost:8130/s/file/tree_multi_upload"
                    list-type="picture-card"
                    ref="video"
                    :on-success="show6"
                    :on-exceed="exceed6"
                    :on-remove="remove6"
                    :file-list="fileList6"
                    :class="{hide6:hideUpload6}"
                    :on-error="error6"
                    accept="video/*"
                    :limit="1">
                <i class="el-icon-plus"></i>
            </el-upload>
            <video id="video"  v-show="move" :src="move" style="width: 100px;height: 100px;position: absolute;left: 12.5%;bottom: 11%"></video>
            <i @click="playVedio" v-show="move && !videoFlag" class="el-icon-video-play" style="position: absolute;left: 22.5%;top: 0%"></i>
            <i @click="playVedio" v-show="move && videoFlag" class="el-icon-video-pause" style="position: absolute;left: 22.5%;top: 0%"></i>
            <el-dialog :visible.sync="dialogVisible6">
                <img width="100%" :src="dialogImageUrl6" alt="">
            </el-dialog>
        </el-col>
    </el-row>
    <el-row style="margin-bottom: 5px">
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">轮播图<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="21">
            <el-upload
                    action="http://localhost:8130/s/file/tree_multi_upload"
                    list-type="picture-card"
                    ref="banner"
                    :on-success="show3"
                    :file-list="fileList3"
                    :class="{hide3:hideUpload3}"
                    :on-exceed="exceed3"
                    :on-remove="remove3"
                    :on-error="error3"
                    :multiple="true"
                    :on-change="change"
                    accept="image/*"
                    :on-progress="uploadin"
                    :limit="5">
                <i class="el-icon-plus"></i>
            </el-upload>
            <el-dialog :visible.sync="dialogVisible3">
                <img width="100%" :src="dialogImageUrl3" alt="">
            </el-dialog>
        </el-col>
    </el-row>
    <el-row style="margin-bottom: 5px">
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">树木介绍<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="21">
            <el-upload
                    action="http://localhost:8130/s/file/tree_multi_upload"
                    list-type="picture-card"
                    ref="tree"
                    :on-success="show4"
                    :on-exceed="exceed4"
                    :file-list="fileList4"
                    :class="{hide4:hideUpload4}"
                    :on-remove="remove4"
                    :on-error="error4"
                    :multiple="true"
                    accept="image/*"
                    :limit="5">
                <i class="el-icon-plus"></i>
            </el-upload>
            <el-dialog :visible.sync="dialogVisible4">
                <img width="100%" :src="dialogImageUrl4" alt="">
            </el-dialog>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="24"><div class="grid-content bg-purple tl">树木信息<span style="color: red;">*</span></div></el-col>
    </el-row>
    <el-row style="margin-bottom: 5px">
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">缩略图<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="21">
            <el-upload
                    action="http://localhost:8130/s/file/tree_multi_upload"
                    list-type="picture-card"
                    ref="thumbnail"
                    :on-success="show2"
                    :on-exceed="exceed2"
                    :on-remove="remove2"
                    :file-list="fileList2"
                    :class="{hide2:hideUpload2}"
                    :on-error="error2"
                    accept="image/*"
                    :limit="1">
                <i class="el-icon-plus"></i>
            </el-upload>
            <el-dialog :visible.sync="dialogVisible2">
                <img width="100%" :src="dialogImageUrl2" alt="">
            </el-dialog>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">树木代码<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="8">
            <div class="grid-content bg-purple-light">
                <el-input @input="english" v-model="code" :disabled="true"></el-input>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">价格<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="8">
            <div class="grid-content bg-purple-light">
                <el-input @input="checked(price)" v-model="price" :disabled="true"></el-input>
            </div>
        </el-col>
        <el-col :span="1" style="text-align: center;margin-top: 6px;">
            元
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">成本价<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="8">
            <div class="grid-content bg-purple-light">
                <el-input @input="check(cost)" v-model="cost" :disabled="true"></el-input>
            </div>
        </el-col>
        <el-col :span="1" style="text-align: center;margin-top: 6px;">
            元
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">库存<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="8">
            <div class="grid-content bg-purple-light">
                <el-input  @input="storage=storage.replace(/[^\d]/g,'')" v-model="storage" :disabled="true"></el-input>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">产地<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="8">
            <div class="grid-content bg-purple-light">
                <el-input v-model="place" :disabled="true"></el-input>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">产出物<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="8">
            <div class="grid-content bg-purple-light">
                <el-input v-model="product" :disabled="true"></el-input>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">持有期<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="6">
            <div class="grid-content bg-purple-light">
                <el-input @input="hold=hold.replace(/[^\d]/g,'')" v-model="hold" :disabled="true"></el-input>
            </div>
        </el-col>
        <el-col :span="2" style="text-align: center;margin-top: 1px;margin-left: 1px;">
            <el-select v-model="value" disabled placeholder="时间">
                <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">预计单树产量<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="8">
            <div class="grid-content bg-purple-light">
                <el-input v-model="preProduct" :disabled="true"></el-input>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">下次收货<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="4">
            <el-date-picker
                    :disabled="true"
                    v-model="year"
                    type="year"
                    placeholder="请选择年份" style="width:80%">
            </el-date-picker>
        </el-col>
        <el-col :span="1" style="text-align: left;margin-top: 6px">
            <div style="background-color:#0C0C0C;width:100%;height: 1px;margin-top: 13px;margin-left: -25px"></div>
        </el-col>
        <el-col :span="4">
            <el-select v-model="values" disabled placeholder="请选择月份" style="width:75%">
                <el-option
                        v-for="item in optionss"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">位置<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="8">
            <div class="grid-content bg-purple-light">
                <el-input v-model="position" :disabled="true"></el-input>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">权益<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="8">
            <div class="grid-content bg-purple-light">
                <el-input type="textarea" autosize v-model="promiss" :disabled="true"></el-input>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="24"><div class="grid-content bg-purple tl">项目信息</div></el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">项目协议<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="8">
            <el-select v-model="agreement" disabled placeholder="请选择协议" style="width: 100%">
                <el-option
                        v-for="item in agreements"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">项目名称<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="8">
            <div class="grid-content bg-purple-light">
                <el-input v-model="proName" :disabled="true"></el-input>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">项目交付<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="8">
            <div class="grid-content bg-purple-light">
                <el-input v-model="inject" :disabled="true"></el-input>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">项目位置<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="8">
            <div class="grid-content bg-purple-light">
                <el-input v-model="proPosition" :disabled="true"></el-input>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">项目状况<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="8">
            <div class="grid-content bg-purple-light">
                <el-input type="textarea" autosize v-model="status" :disabled="true"></el-input>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">项目特色<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="8">
            <div class="grid-content bg-purple-light">
                <el-input type="textarea" autosize v-model="specil" :disabled="true"></el-input>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="3"><div class="grid-content bg-purple f14 tr">项目回报<span style="color: red;">*</span>:</div></el-col>
        <el-col :span="8">
            <div class="grid-content bg-purple-light">
                <el-input type="textarea" autosize v-model="reward" :disabled="true"></el-input>
            </div>
        </el-col>
    </el-row>
</div>
</body>
<script>
    var vm = new Vue({
        el:"#app",
        data:{
            options: [{
                value: '1',
                label: '年'
            }, {
                value: '2',
                label: '月'
            }, {
                value: '3',
                label: '日'
            }],
            agreements:[],
            optionss: [{
                value: '1',
                label: '1'
            }, {
                value: '2',
                label: '2'
            }, {
                value: '3',
                label: '3'
            }, {
                value: '4',
                label: '4'
            }, {
                value: '5',
                label: '5'
            }, {
                value: '6',
                label: '6'
            }, {
                value: '7',
                label: '7'
            }, {
                value: '8',
                label: '8'
            }, {
                value: '9',
                label: '9'
            }, {
                value: '10',
                label: '10'
            }, {
                value: '11',
                label: '11'
            }, {
                value: '12',
                label: '12'
            }],
            hideUpload5: false,
            hideUpload1: false,
            hideUpload3: false,
            hideUpload4: false,
            hideUpload2: false,
            hideUpload6: false,
            value: "",
            values: "",
            agreement:"",
            input:"",
            imageUrl: '',
            code:"",
            dialogImageUrl1: '',
            fileList1:[],
            dialogVisible1: false,
            dialogImageUrl2: '',
            dialogVisible2: false,
            dialogImageUrl3: '',
            dialogVisible3: false,
            fileList3:[],
            fileList4:[],
            fileList2:[],
            dialogImageUrl4: '',
            dialogVisible4: false,
            dialogImageUrl5: '',
            dialogVisible5: false,
            fileList5:[],
            dialogImageUrl6: '',
            dialogVisible6: false,
            fileList6:[],
            labelList:[],
            thumbnail:[],
            banner:[],
            treeInfo:[],
            cover:[],
            goodsName:"",
            label:"",
            describe:"",
            price:"",
            cost:"",
            storage:"",
            hold:"",
            place:"",
            product:"",
            preProduct:"",
            position:"",
            promiss:"",
            proName:"",
            inject:"",
            proPosition:"",
            status:"",
            specil:"",
            reward:"",
            limitTime:"",
            year:"",
            month:"",
            pickerOptions0: {
                disabledDate(time) {
                    return time.getTime() < Date.now() - 8.64e7;
                }
            },
            option:'image/*,video/*',
            flag:true,
            move:"",
            video:'',
            videoFlag:false,
            press:true,
            detaliId:"",
            projectId:"",
            productSkuId:"",
        },
        computed: {

            uploadDisabled:function() {
                return this.labelList.length > 0
            },

        },
        created() {
            var that = this;
            $.ajax({
                type: "POST",
                async: false,
                data: '',
                url: "${cxt!}/s/product/json/articleList",
                success: function (data) {
                    if (data.code === 200) {
                        let arr = data.data.data;
                        arr.forEach(el => {
                            let obj = {
                                value:el.id,
                                label:el.title
                            }
                            that.agreements.push(obj)
                        })
                    } else {
                        // parent.notifications('error', data.message, "系统提示");
                        alert("获取协议失败，请检查网络！")
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    parent.notifications('error', "操作失败,请检查网络!", "系统提示");
                },
                complete: function () {
                    // layer.close(loading);
                    // parent.layer.close(index);
                }
            });
            $.ajax({
                type: "POST",
                async: false,
                data: {
                    "id":${id!}
                },
                url: "${cxt!}/s/product/json/detail",
                success: function (data) {
                    if (data.code === 200) {
                         let info = data.data;
                        that.fileList5.push({
                            url:info.icon
                        }) ;
                        if(that.fileList5){
                            that.hideUpload5 = true;
                        }
                        that.goodsName=info.title;
                        that.label = info.tagInfo.label;
                        that.fileList1.push({
                            url:info.tagInfo.labelPic
                        }) ;
                        if(that.fileList1){
                            that.hideUpload1 = true;
                        }
                        that.describe = info.content;
                        that.limitTime = info.outageTime.substring(0,10);
                        that.move = info.video
                        that.fileList6.push({
                            url:info.video
                        }) ;
                        if(that.fileList6){
                            that.hideUpload6 = true;
                        }
                        for(var i = 0;i<info.bannerList.length;i++){
                            that.fileList3.push({
                                url:info.bannerList[i]
                            }) ;
                        }
                        if(info.bannerList){
                            that.hideUpload3 = true;
                        }
                        for(var i = 0;i<info.detailPicList.length;i++){
                            that.fileList4.push({
                                url:info.detailPicList[i]
                            }) ;
                        }
                        if(info.detailPicList){
                            that.hideUpload4 = true;
                        }
                        that.fileList2.push({
                            url:info.shopProductSku.icon
                        }) ;
                        if(that.fileList2){
                            that.hideUpload2 = true;
                        }
                        that.code = info.shopProductSku.code
                        that.price = info.shopProductSku.price
                        that.cost = info.shopProductSku.costPrice
                        that.storage = info.shopProductSku.reserve
                        that.place = info.shopProductSku.originPlace
                        that.product = info.shopProductSku.outputItems
                        that.hold = info.shopProductSku.holdTerm
                        that.value = info.shopProductSku.holdTermUnitFormatter
                        that.preProduct = info.shopProductSku.outputYield
                        that.year = info.shopProductSku.nextReceiveTime.substring(0,4)
                        that.values = info.shopProductSku.nextReceiveTime.substring(5,7)
                        if(that.values.substring(0,1) == 0){
                            that.values = that.values.substring(1,2)
                        }
                        that.position = info.shopProductSku.address
                        that.promiss = info.shopProductSku.rightsInterests
                        that.agreement = info.shopProductProject.articleTitle
                        that.proName = info.shopProductProject.name
                        that.inject = info.shopProductProject.deliver
                        that.proPosition = info.shopProductProject.place
                        that.status = info.shopProductProject.status
                        that.specil = info.shopProductProject.characteristic
                        that.reward = info.shopProductProject.income
                        that.detaliId = info.id
                        that.projectId = info.shopProductProject.id
                        that.productSkuId = info.shopProductSku.id

                    } else {
                        // parent.notifications('error', data.message, "系统提示");
                        alert("获取详情失败，请检查网络！")
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    parent.notifications('error', "操作失败,请检查网络!", "系统提示");
                },
                complete: function () {
                    // layer.close(loading);
                    // parent.layer.close(index);
                }
            });
        },
        methods: {
            english() {
                this.code = this.code.replace(/[^0-9a-zA-Z]/g, '')
            },
            checked(val){
                let reg = val.match(/\d+\.?\d{0,}/); //保留几位小数
                let regg = val.match(/^[0]+$/)
                let txt = '';
                if (reg != null && regg == null) {
                    txt = reg[0];
                }
                this.price = txt
            },
            check(val){
                let reg = val.match(/\d+\.?\d{0,}/); //保留几位小数
                let regg = val.match(/^[0]+$/)
                let txt = '';
                if (reg != null && regg == null) {
                    txt = reg[0];
                }
                this.cost = txt
            },
            playVedio() {
                this.videoFlag = !this.videoFlag;
                let myVideo = document.getElementById("video");
                if (myVideo.paused) {
                    myVideo.play();
                    myVideo.loop = true;
                } else
                    myVideo.pause();
            },
            //标签
            error1(err, file, fileList) {
                // console.log(err, file, fileList)
                alert("上传失败")
            },
            // handlePictureCardPreview1(file) {
            //     this.dialogImageUrl1 = file.url;
            //     this.dialogVisible1 = true;
            // },
            show1(response, file, fileList) {
                if(response.code == 200) {
                    this.labelList = response.data.urlArray[0];
                    this.$refs.label.$el.children[1].style.display = 'none'
                }
            },
            exceed1(files, fileList) {
                return alert('最多上传1张')
            },
            remove1(file, fileList) {
                this.labelList = ''
                this.$refs.label.$el.children[1].style.display = 'inline-block'
                // console.log(this.labelList)
            },
            //视频
            error6(err, file, fileList) {
                // console.log(err, file, fileList)
                alert("上传失败")
            },
            // handlePictureCardPreview 6(file) {
            //     this.dialogImageUrl6 = file.url;
            //     this.dialogVisible6 = true;
            // },
            show6(response, file, fileList) {
                if(response.code == 200) {
                    this.video = response.data.urlArray[0];
                    this.move = response.data.urlArray[0]
                    this.$refs.video.$el.children[1].style.display = 'none'
                }
                this.$refs.video.$el.children[0].children[0].lastChild.children[0].style.display = 'none'
 },
            exceed6(files, fileList) {
                return alert('最多上传1张')
            },
            remove6(file, fileList) {
                this.video = ''
                this.move = ''
                this.$refs.video.$el.children[1].style.display = 'inline-block'
            },
            //缩略
            error2(err, file, fileList) {
                // console.log(err, file, fileList)
                alert("上传失败")
            },
            // handlePictureCardPreview2(file) {
            //     this.dialogImageUrl2 = file.url;
            //     this.dialogVisible2 = true;
            // },
            show2(response, file, fileList) {
                if(response.code == 200) {
                    this.thumbnail = response.data.urlArray[0]
                    this.$refs.thumbnail.$el.children[1].style.display = 'none'
                }
                // console.log(this.thumbnail)
            },
            exceed2(files, fileList) {
                return alert('最多上传1张')
            },
            remove2(file, fileList) {
                this.$refs.thumbnail.$el.children[1].style.display = 'inline-block'
                this.thumbnail = ''
                // console.log(this.thumbnail)
            },
            //轮播
            uploadin(event, file, fileList) {

            },
            change(file, fileList) {
                if (file.raw.type.includes('video')) {
                    this.option = 'image/*'
                }
            },
            error3(err, file, fileList) {
                alert("上传失败")
            },
            // handlePictureCardPreview3(file) {
            //     console.log(file)
            //     this.dialogImageUrl3 = file.url;
            //     this.dialogVisible3 = true;
            // },
            show3(response, file, fileList) {
                // console.log(response, file, fileList)
                if(response.code == 200) {
                    if (file.raw.type.includes('video')) {
                        this.move = response.data.urlArray[0]
                    }
                    this.banner = this.banner.concat(response.data.urlArray)
                        if (this.banner.length == 5) {
                            this.$refs.banner.$el.children[1].style.display = 'none'
                        }
                }
                // console.log(this.banner)
            },
            exceed3(files, fileList) {
                return alert('最多上传5张')
            },
            remove3(file, fileList) {
                console.log(file, fileList)
                var str = ''
                if (file.response) {
                    str = file.response.data.urlArray
                }
                this.banner = this.banner.filter(item => item != str)
                if (this.banner.length < 5) {
                    this.$refs.banner.$el.children[1].style.display = 'inline-block'
                }
            },
            //树木介绍
            error4(err, file, fileList) {
                // console.log(err, file, fileList)
                alert("上传失败")
            },
            // handlePictureCardPreview4(file) {
            //     this.dialogImageUrl4 = file.url;
            //     this.dialogVisible4 = true;
            // },
            show4(response, file, fileList) {
                console.log(response)
                if(response.code == 200) {
                    this.treeInfo = this.treeInfo.concat(response.data.urlArray)
                    if (this.treeInfo.length == 5) {
                        this.$refs.tree.$el.children[1].style.display = 'none'
                    }
                }
                // console.log(this.treeInfo)
            },
            exceed4(files, fileList) {
                return alert('最多上传5张')
            },
            remove4(file, fileList) {
                let str = file.response.data.urlArray
                this.treeInfo = this.treeInfo.filter(item => item != str)
                if (this.treeInfo.length < 5) {
                    this.$refs.tree.$el.children[1].style.display = 'inline-block'
                }
            },
            //封面图
            error5(err, file, fileList) {
                // console.log(err, file, fileList)
                alert("上传失败")
            },
            // handlePictureCardPreview5(file) {
            //     this.dialogImageUrl5 = file.url;
            //     this.dialogVisible5 = true;
            // },
            show5(response, file, fileList) {
                if(response.code == 200) {
                    console.log(this.fileList5)
                    this.cover = response.data.urlArray[0];
                    this.$refs.cover.$el.children[1].style.display = 'none'
                }
                // console.log(this.cover)
            },
            exceed5(files, fileList) {
                return alert('最多上传1张')
            },
            remove5(file, fileList) {
                this.$refs.cover.$el.children[1].style.display = 'block'
                this.cover = ''
            },
        },
    })
</script>
</html>