<div class="form-group">
	<label class="col-sm-2 control-label">主键</label>
	<div class="col-sm-7">
		<input type="text" name="noticeConfig.ids" value="noticeConfig.ids" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">客户ID</label>
	<div class="col-sm-7">
		<input type="text" name="noticeConfig.customerids" value="noticeConfig.customerids" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">短信通知状态 1禁用  2启用</label>
	<div class="col-sm-7">
		<input type="text" name="noticeConfig.sms" value="noticeConfig.sms" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">邮件通知状态 1禁用  2启用</label>
	<div class="col-sm-7">
		<input type="text" name="noticeConfig.email" value="noticeConfig.email" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">站内信通知状态 1禁用  2启用</label>
	<div class="col-sm-7">
		<input type="text" name="noticeConfig.message" value="noticeConfig.message" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">创建时间</label>
	<div class="col-sm-7">
		<input type="text" name="noticeConfig.createtime" value="noticeConfig.createtime" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">更新时间</label>
	<div class="col-sm-7">
		<input type="text" name="noticeConfig.updatetime" value="noticeConfig.updatetime" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>
