
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/modules/index/content');">xxx</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/modules/operator');">xxx</a></li>
			<li class="active">查看</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">查看</span></h4>
				<div class="panel-tools">										
					xxxx
				</div>
			</div>
			
			<div class="panel-body">	
				<form role="form" class="form-horizontal">
					
										<div class="form-group">
						<label class="col-sm-2 control-label">主键 </label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="noticeConfig.ids">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">客户ID </label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="noticeConfig.customerids">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">短信通知状态 1禁用  2启用 </label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="noticeConfig.sms">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">邮件通知状态 1禁用  2启用 </label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="noticeConfig.email">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">站内信通知状态 1禁用  2启用 </label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="noticeConfig.message">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">创建时间 </label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="noticeConfig.createtime">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">更新时间 </label>
						<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="noticeConfig.updatetime">
						</div>
					</div>
				</form>
			</div>
		
		</div>
	</div>
</div>	
