<!DOCTYPE html>
<html>
<head>
    <!-- 样式文件加载开始 -->
<#include "../../include/res.html" >
    <!-- 样式文件加载结束 -->
</head>
<body class="white-bg5">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="padding:3px 15px 0 20px;">
                    <div class="col-md-6">
                        <div class="search-form">
                            <form>
                                <div class="input-group">
                                    <input name="search_val" placeholder="请输入标题进行搜索" class="form-control search-input"
                                           id="search-input">
                                    <span class="input-group-btn search-span">
                                <button class="btn btn-white btn-sm" type="button" onclick="dropdownSearchFun(this)"
                                        data-url="/modules/system/templateMsg/getLogDataByAjax" data-tid="table_jq"
                                        id="search-btn"><i class="fa fa-search"></i> 查询</button>
                            </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="ibox-tools m-t-xs">
                        <div class="btn-group">
                            <button onclick="hm_fn_addFun(sendTitle,winWidth,winHeight,sendUrl,formId,winname)"
                                    class="btn btn-white btn-sm" data-index="1-1">
                                <i class="fa fa-plus-circle"></i>&nbsp;发送消息
                            </button>
                            <button onclick="hm_fn_addFun(addTitle,winWidth,winHeight,addUrl,formId,winname)"
                                    class="btn btn-white btn-sm" data-index="1-1">
                                <i class="fa fa-plus-circle"></i>&nbsp;添加模板
                            </button>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <table id="table_jq"></table>
                    <div id="pager_jq"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- js加载开始 -->
<#include "../../include/js.html">
<!-- js加载结束 -->
<!-- Page-Level Scripts -->
<script>
    var winWidth = '70%',
            winHeight = '88%',
            sendTitle = "发送模板消息",
            sendUrl = "/modules/system/templateMsg/sendMsg",
            addTitle = "添加模板",
            addUrl = "/modules/system/templateMsg/add",
            editTitle = "编辑模板",
            editUrl = "/modules/system/templateMsg/edit",
            deleteUrl = "/modules/system/templateMsg/delete",
            jqGridId = "#table_jq",
            jqPageId = "#pager_jq",
            dataUrl = "/modules/system/templateMsg/getLogDataByAjax",
            formId = "#form",
            winname = window.name;
    $(function () {
        $.jgrid.defaults.styleUI = "Bootstrap";
        $(jqGridId).jqGrid({
            url: dataUrl,
            datatype: "json",
            colNames: ['ID', '标题', '模板ID', '模板内容', '发送对象'],
            colModel: [
                {
                    name: 'id',
                    index: 'id',
                    width: 1,
                    hidden: true,
                    key: true
                },
                {
                    name: 'title',
                    index: 'title',
                    width: '150'
                },
                {
                    name: 'template_id',
                    index: 'template_id',
                    width: '60'
                },
                {
                    name: 'content',
                    index: 'content',
                    width: '260'
                }, {
                    name: 'send_object',
                    index: 'send_object',
                    width: '100'
                }/*,
                {
                    name: 'tax',
                    index: 'tax',
                    width: '70',
                    formatter: function (cellvalue, options, rowObject) {
                        var str = '';
                        str += '<a style="margin-bottom:0px;" class="btn btn-white btn-xs btn-bitbucket" title="编辑" onclick="hm_fn_editFun(editTitle,winWidth,winHeight,editUrl,' + "'" + rowObject.id + "'" + ',winname)"><i class="fa fa-edit"></i></a>&nbsp;';
                        str += '<a style="margin-bottom:0px;" class="btn btn-default btn-xs btn-bitbucket" title="删除" onclick="hm_fn_del(jqGridId,dataUrl,deleteUrl,' + "'" + rowObject.id + "'" + ')"><i class="fa fa-trash"></i></a>';
                        return str;
                    }
                }*/],
            autowidth: true,
            height: "auto",    // 设为具体数值则会根据实际记录数出现垂直滚动条
            width: "100%",
            rowNum: 20,
            rowList: [20, 30, 50],
            pager: jqPageId,
            mtype: "post",
            rownumbers: true,
            viewrecords: true,
//            multiselect: true,
            jsonReader: {
                root: "list",
                page: "page",
                total: "totalPage",
                records: "totalRow",
                repeatitems: false,
                id: "0"
            }
        });
        jQuery(jqGridId).jqGrid('navGrid', jqPageId, {
                    add: false,
                    del : false,
                    edit: false,
                    search: false,
                    position: 'right'
                },
                {},
                {},
                {},
                {});
    });

    jQuery("#Del").click(function () {
        var ids = jQuery(jqGridId).jqGrid('getGridParam', 'selarrrow');
        if (ids == '') {
            parent.notifications('error', "请至少选择一条数据");
            return false;
        }
        hm_fn_del(jqGridId, dataUrl, deleteUrl, ids)
    });

    jQuery("#Edit").click(function () {
        var ids = jQuery(jqGridId).jqGrid('getGridParam', 'selarrrow');
        if (ids == '') {
            parent.notifications('error', "请选择一条数据");
            return false;
        }
        if (ids.length > 1) {
            parent.notifications('error', "只能选择一条数据");
            return false;
        }
        hm_fn_editFun(editTitle, winWidth, winHeight, editUrl, ids, winname)
    });
    $(window).bind("resize", function () {
        var width = $(".ibox-content").width();
        $("#table_jq").setGridWidth(width);
    });

</script>

</body>
</html>
