<!DOCTYPE html>
<html>
<head>
	<!-- 样式文件加载开始 -->
	<#include "/include/res.html" >
	<!-- 样式文件加载结束 -->
	<script type="text/javascript" src="/ui/js/jquery-2.1.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/ui/css/plugins/webuploader/webuploader.css">
	<link rel="stylesheet" type="text/css" href="/ui/css/demo.css">
	<!--引入JS-->
	<script type="text/javascript" src="/ui/js/plugins/webuploader/webuploader.min.js"></script>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div>
				</div>
				<div class="ibox-content">
					<form class="form-horizontal m-t" id="form">
						<div class="row">
							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">挂牌厂家:<i class="required-help">*</i></label>
								<div class="col-sm-8">
									<input id="facName" name="facName" class="form-control" type="text" value="${(goods.facName)!}" readonly>
									<input id="facId" type="hidden" name="facId" value="${(goods.facId)!}" class="form-control">
								</div>
							</div>

							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">厂家名称:<i class="required-help">*</i></label>
								<div class="col-sm-8">
									<input name="outsideName" class="form-control" type="text" value="${(goods.outsideName)!}" readonly>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">商品名称:<i class="required-help">*</i></label>
								<div class="col-sm-8">
									<input name="name" class="form-control" type="text" value="${(goods.name)!}" readonly>
								</div>
							</div>

							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">商品代码:<i class="required-help">*</i></label>
								<div class="col-sm-8">
									<input name="code" class="form-control" type="text" value="${(goods.code)!}" readonly>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">市场指导价(元):<i class="required-help">*</i></label>
								<div class="col-sm-8">
									<input name="lastPrice" class="form-control" type="text" value="${(goods.lastPrice)!}" placeholder="请输入市场指导价" onkeyup = "this.value=/^\d+\.?\d{0,5}$/.test(this.value) ? this.value : this.value.substring(0,this.value.length-1)" readonly>
								</div>
							</div>

							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">发行量:<i class="required-help">*</i></label>
								<div class="col-sm-8">
									<input name="quantityIssued" class="form-control" type="number" value="${(goods.quantityIssued)!}"
										   onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" min="1" readonly>
								</div>
							</div>
						</div>

						<div class="row">

							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">首日挂牌价(元):<i class="required-help">*</i></label>
								<div class="col-sm-8">
									<input name="listingPrice" class="form-control" type="text" value="${(goods.listingPrice)!}" placeholder="请输入首日挂牌价" onkeyup = "this.value=/^\d+\.?\d{0,5}$/.test(this.value) ? this.value : this.value.substring(0,this.value.length-1)"  required>
								</div>
							</div>
							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">交易单位:<i class="required-help">*</i></label>
								<div class="col-sm-8">
									<input name="unit" class="form-control" type="text" value="${(goods.unit)!}" required>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">商品类别:<i class="required-help">*</i></label>
								<div class="col-sm-8">
									<input name="type" class="form-control" type="text" value="${(goods.type)!}" placeholder="请输入商品类别" required>
								</div>
							</div>
							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">换手率(%):<i class="required-help">*</i></label>
								<div class="col-sm-8">
									<input name="changeRate" class="form-control" type="text" value="${(goods.changeRate)!}"  placeholder="请输入正整数或小数" onkeyup = "this.value=/^\d+\.?\d{0,5}$/.test(this.value) ? this.value : this.value.substring(0,this.value.length-1)" required>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">购入手续费(%):<i class="required-help">*</i></label>
								<div class="col-sm-8">
									<input name="buyFeeRate" class="form-control" type="text" value="${(goods.buyFeeRate)!}" placeholder="请输入正整数或小数" onkeyup = "this.value=/^\d+\.?\d{0,5}$/.test(this.value) ? this.value : this.value.substring(0,this.value.length-1)" required>
								</div>
							</div>

							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">售出手续费(%):<i class="required-help">*</i></label>
								<div class="col-sm-8">
									<input name="sellFeeRate" class="form-control" type="text" value="${(goods.sellFeeRate)!}" placeholder="请输入正整数或小数" onkeyup = "this.value=/^\d+\.?\d{0,5}$/.test(this.value) ? this.value : this.value.substring(0,this.value.length-1)" required>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">增值积分转化比例(%):<i class="required-help">*</i></label>
								<div class="col-sm-8">
									<input name="tranferRate" class="form-control" type="text" max="100" value="${(goods.tranferRate)!}" placeholder="请输入正整数或小数" onkeyup = "this.value=/^\d+\.?\d{0,5}$/.test(this.value) ? this.value : this.value.substring(0,this.value.length-1)" required>
								</div>
							</div>

							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">最小提货数量:<i class="required-help">*</i></label>
								<div class="col-sm-8">
									<input name="minDelivery" class="form-control" type="number" value="${(goods.minDelivery)!}"
										   onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" min="1" required>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">当日最大购入量:<i class="required-help">*</i></label>
								<div class="col-sm-8">
									<input name="dailyMaxBuy" class="form-control" type="number" value="${(goods.dailyMaxBuy)!}"
										   onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" min="1" required>
								</div>
							</div>

							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">当日最大售出量:<i class="required-help">*</i></label>
								<div class="col-sm-8">
									<input name="dailyMaxSell" class="form-control" type="number" value="${(goods.dailyMaxSell)!}"
										    onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" min="1"required>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">最大仓单量:<i class="required-help">*</i></label>
								<div class="col-sm-8">
									<input name="maxHold" class="form-control" type="number" value="${(goods.maxHold)!}"
										   onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" min="1" required>
								</div>
							</div>

							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">最小仓单天数:<i class="required-help">*</i></label>
								<div class="col-sm-8">
									<input name="minHoldDays" class="form-control" type="number" min="1" value="${(goods.minHoldDays)!}"
										   onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" required>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">交易时间:<i class="required-help">*</i></label>
								<div class="col-sm-8">
									<input name="tradeTime" id="tradeTime" class="form-control" type="text" value="${(goods.tradeTime)!}"  placeholder="示例: 9:30,11:30;13:00,16:00" required>
								</div>
							</div>
							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">排序:<i class="required-help">*</i></label>
								<div class="col-sm-8">
									<input name="sort" class="form-control" type="number" value="${(goods.sort)!}"
										   onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" min="1" required>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-6 form-group">
								<label class="col-sm-4 control-label">封面图:<i class="required-help">*</i></label>
								<div class="col-md-9 col-sm-8">
									<input type="hidden" id="path" name="pic" value="${(goods.pic)!}">
									<#if goods??>
									<img src="${(goods.pic)!}" id="img2" width="100px" height="100px">
									<#else>
									<img src="" id="img" onerror="this.src='${cxt!}/ui/img/timg.jpeg'" width="100px" height="100px">
								</#if>
								<input id="file" type="file" name="file" onchange="upload()" accept="image/jpg, image/png, image/jpeg">
							</div>
						</div>
				</div>

				<!--轮播图 百度WebUploader-->
				<div id="uploader" class="wu-example">
					<div class="queueList">
						<div id="dndArea" class="placeholder">
							<div id="filePicker"></div>
							<p>或将照片拖到这里，单次最多可选5张</p>
						</div>
					</div>
					<div class="statusBar" style="display:none;">
						<div class="progress">
							<span class="text">0%</span>
							<span class="percentage"></span>
						</div><div class="info"></div>
						<div class="btns">
							<div id="filePicker2"></div><div class="uploadBtn">开始上传</div>
							<input id="pic" name="picList" type="hidden">
						</div>
					</div>
				</div>




				<input type="hidden" name="id" value="${(goods.id)!}">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- js加载开始 -->
<#include "/include/js.html">
<script type="text/javascript" src="/ui/js/trade/goods.js"></script>
<script type="text/javascript">
	var jqGridId = "#table_jq",
		dataUrl = "${cxt!}/s/trade/goods/json/list",
		formId = "#form",
		winname = "${winname!}";
	jQuery(document).ready(function(){
        GoodsJs.init();
	});
	function validateForm(){
        var pic = $('#path').val;
        var pic1 = $('#pic').val();
        if (pic == ''){
            top.layer.alert("请上传封面图!", {
                icon: 5,
                shadeClose: true
            });
            return false;
        }
        if (pic1 == undefined || pic1 == ''){
            top.layer.alert("请上传轮播图!", {
                icon: 5,
                shadeClose: true
            });
            return false;
            parent.notifications('error', '请上传轮播图');
        }
		$(formId).submit();
	}

    $("#tradeTime").on('change',function () {
        var time =$("#tradeTime").val();
        var regex=/^([0-9]|1[0-9]|2[0-3]):[0-5][0-9],([1-9]|1[0-9]|2[0-3]):[0-5][0-9];([0-9]|1[0-9]|2[0-3]):[0-5][0-9],([0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/;
        var regex2 = /^([0-9]|1[0-9]|2[0-3]):[0-5][0-9],([1-9]|1[0-9]|2[0-3]):[0-5][0-9]$/;
        var result=regex.test(time);
        var result2=regex2.test(time);
        if (!result && !result2){
            top.layer.alert("交易时间格式错误!", {
                icon: 5,
                shadeClose: true
            });
            return false;
        }
    })
    $("input[name='listingPrice']").on('change',function () {
        var listingPrice =$("input[name='listingPrice']").val();
        var num = fomatFloat(listingPrice,2);
        $("input[name='listingPrice']").val(num);
    })
    $("input[name='lastPrice']").on('change',function () {
        var lastPrice =$("input[name='lastPrice']").val();
        var num = fomatFloat(lastPrice,2);
        $("input[name='lastPrice']").val(num);
    })
    $("input[name='buyFeeRate']").on('change',function () {
        var buyFeeRate =$("input[name='buyFeeRate']").val();
        var num = fomatFloat(buyFeeRate,2);
        $("input[name='buyFeeRate']").val(num?num:0);
    })
    $("input[name='sellFeeRate']").on('change',function () {
        var sellFeeRate =$("input[name='sellFeeRate']").val();
        var num = fomatFloat(sellFeeRate,2);
        $("input[name='sellFeeRate']").val(num?num:0);
    })
    $("input[name='tranferRate']").on('change',function () {
        var tranferRate =$("input[name='tranferRate']").val();
        var num = fomatFloat(lastPrice,2);
        $("input[name='tranferRate']").val(num?num:0);
    })
    $("input[name='changeRate']").on('change',function () {
        var changeRate =$("input[name='changeRate']").val();
        var num = fomatFloat(changeRate,2);
        $("input[name='changeRate']").val(num?num:0);
    })

    // num为传入的值，n为保留的小数位
    function fomatFloat(num,n){
        var f = parseFloat(num);
        if(isNaN(f)){
            return false;
        }
        f = Math.round(num*Math.pow(10, n))/Math.pow(10, n); // n 幂
        var s = f.toString();
        var rs = s.indexOf('.');
        //判定如果是整数，增加小数点再补0
        if(rs < 0){
            rs = s.length;
            s += '.';
        }
        while(s.length <= rs + n){
            s += '0';
        }
        return s;
    }

    //选厂家
    function chooseFactory() {
        parent.layer.open({
            skin: 'layui-layer-molv',
            type: 2,
            scrollbar: false,
            title: '选择挂牌厂家',
            fix: false, //不固定
            maxmin: true,
            area: ['50%', '40%'],
            btn: ['确定', '关闭'],
            yes: function (index, layero) {
                window.parent[layero.find('iframe')[0]['name']]
                    .yesBtn($("#facName"), $("#facId"));
            },
            cancel: function (index) {},
            content: '/s/trade/goods/factory'
        });
    }

    //文件上传
    function upload() {
        var data = new FormData();
        var pic = $('#file')[0].files[0];
        data.append('file', pic);
        $.ajax({
            type: "POST",
            async: false,
            contentType: false,
            processData: false,
            data: data,
            url: "/s/file/upload",
            success: function (data) {
                if (data.code === 200) {
                    $('#path').val(data.data);
                    $('#img2').attr('src', data.data);
                    parent.notifications('success', '上传成功');
                } else {
                    parent.notifications('error', '上传失败');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                parent.notifications('error', '操作失败,请检查网络!');
            },
        });
    }


    //初始化
    $(function() {
        $wrap = $('#uploader'),

            // 图片容器
            $queue = $('<ul class="filelist"></ul>')
                .appendTo( $wrap.find('.queueList') ),

            // 状态栏，包括进度和控制按钮
            $statusBar = $wrap.find('.statusBar'),

            // 文件总体选择信息。
            $info = $statusBar.find('.info'),

            // 上传按钮
            $upload = $wrap.find('.uploadBtn'),

            // 没选择文件之前的内容。
            $placeHolder = $wrap.find('.placeholder'),

            // 总体进度条
            $progress = $statusBar.find('.progress').hide(),

            // 添加的文件数量
            fileCount = 0,

            // 添加的文件总大小
            fileSize = 0,

            // 优化retina, 在retina下这个值是2
            ratio = window.devicePixelRatio || 1,

            // 缩略图大小
            thumbnailWidth = 110 * ratio,
            thumbnailHeight = 110 * ratio,

            // 可能有pedding, ready, uploading, confirm, done.
            state = 'pedding',

            // 所有文件的进度信息，key为file id
            percentages = {},

            supportTransition = (function(){
                var s = document.createElement('p').style,
                    r = 'transition' in s ||
                        'WebkitTransition' in s ||
                        'MozTransition' in s ||
                        'msTransition' in s ||
                        'OTransition' in s;
                s = null;
                return r;
            })(),

            // WebUploader实例
            uploader;

        // 实例化
        uploader = WebUploader.create({
            pick: {
                id: '#filePicker',
                label: '点击选择图片'
            },
            dnd: '#uploader .queueList',
            paste: document.body,
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            },
            // swf文件路径
            swf: '/ui/js/lib/webuploader/Uploader.swf',
            disableGlobalDnd: true,
            chunked: true,
            server: '${cxt!}/s/file/multi_upload',
            fileNumLimit: 5,
            fileSizeLimit: 2 * 5 * 1024 * 1024, //总图片大小限制
            fileSingleSizeLimit: 1024 * 1024 * 2 //单张图片大小限制
        });

        // 添加“添加文件”的按钮，
        uploader.addButton({
            id: '#filePicker2',
            label: '继续添加'
        });

        // 当有文件添加进来时执行，负责view的创建
        function addFile( file ) {
            var $li = $( '<li id="' + file.id + '">' +
                '<p class="title">' + file.name + '</p>' +
                '<p class="imgWrap"></p>'+
                '<p class="progress"><span></span></p>' +
                '</li>' ),

                $btns = $('<div class="file-panel">' +
                    '<span class="cancel">删除</span>' +
                    '<span class="rotateRight">向右旋转</span>' +
                    '<span class="rotateLeft">向左旋转</span></div>').appendTo( $li ),
                $prgress = $li.find('p.progress span'),
                $wrap = $li.find( 'p.imgWrap' ),
                $info = $('<p class="error"></p>'),

                showError = function( code ) {
                    switch( code ) {
                        case 'exceed_size':
                            text = '文件大小超出';
                            break;

                        case 'interrupt':
                            text = '上传暂停';
                            break;

                        default:
                            text = '上传失败，请重试';
                            break;
                    }

                    $info.text( text ).appendTo( $li );
                };

            if ( file.getStatus() === 'invalid' ) {
                showError( file.statusText );
            } else {
                $wrap.text( '预览中' );
                uploader.makeThumb( file, function( error, src ) {
                    if ( error ) {
                        $wrap.text( '不能预览' );
                        return;
                    }

                    var img = $('<img src="'+src+'">');
                    $wrap.empty().append( img );
                }, thumbnailWidth, thumbnailHeight );

                percentages[ file.id ] = [ file.size, 0 ];
                file.rotation = 0;
            }

            file.on('statuschange', function( cur, prev ) {
                if ( prev === 'progress' ) {
                    $prgress.hide().width(0);
                } else if ( prev === 'queued' ) {
                    $li.off( 'mouseenter mouseleave' );
                    $btns.remove();
                }

                // 成功
                if ( cur === 'error' || cur === 'invalid' ) {
                    console.log( file.statusText );
                    showError( file.statusText );
                    percentages[ file.id ][ 1 ] = 1;
                } else if ( cur === 'interrupt' ) {
                    showError( 'interrupt' );
                } else if ( cur === 'queued' ) {
                    percentages[ file.id ][ 1 ] = 0;
                } else if ( cur === 'progress' ) {
                    $info.remove();
                    $prgress.css('display', 'block');
                } else if ( cur === 'complete' ) {
                    $li.append( '<span class="success"></span>' );
                }

                $li.removeClass( 'state-' + prev ).addClass( 'state-' + cur );
            });

            $li.on( 'mouseenter', function() {
                $btns.stop().animate({height: 30});
            });

            $li.on( 'mouseleave', function() {
                $btns.stop().animate({height: 0});
            });

            $btns.on( 'click', 'span', function() {
                var index = $(this).index(),
                    deg;

                switch ( index ) {
                    case 0:
                        uploader.removeFile( file );
                        return;

                    case 1:
                        file.rotation += 90;
                        break;

                    case 2:
                        file.rotation -= 90;
                        break;
                }

                if ( supportTransition ) {
                    deg = 'rotate(' + file.rotation + 'deg)';
                    $wrap.css({
                        '-webkit-transform': deg,
                        '-mos-transform': deg,
                        '-o-transform': deg,
                        'transform': deg
                    });
                } else {
                    $wrap.css( 'filter', 'progid:DXImageTransform.Microsoft.BasicImage(rotation='+ (~~((file.rotation/90)%4 + 4)%4) +')');
                    // use jquery animate to rotation
                    // $({
                    //     rotation: rotation
                    // }).animate({
                    //     rotation: file.rotation
                    // }, {
                    //     easing: 'linear',
                    //     step: function( now ) {
                    //         now = now * Math.PI / 180;

                    //         var cos = Math.cos( now ),
                    //             sin = Math.sin( now );

                    //         $wrap.css( 'filter', "progid:DXImageTransform.Microsoft.Matrix(M11=" + cos + ",M12=" + (-sin) + ",M21=" + sin + ",M22=" + cos + ",SizingMethod='auto expand')");
                    //     }
                    // });
                }


            });

            $li.appendTo( $queue );
        }

        // 负责view的销毁
        function removeFile( file ) {
            var $li = $('#'+file.id);

            delete percentages[ file.id ];
            updateTotalProgress();
            $li.off().find('.file-panel').off().end().remove();
        }

        function updateTotalProgress() {
            var loaded = 0,
                total = 0,
                spans = $progress.children(),
                percent;

            $.each( percentages, function( k, v ) {
                total += v[ 0 ];
                loaded += v[ 0 ] * v[ 1 ];
            } );

            percent = total ? loaded / total : 0;

            spans.eq( 0 ).text( Math.round( percent * 100 ) + '%' );
            spans.eq( 1 ).css( 'width', Math.round( percent * 100 ) + '%' );
            updateStatus();
        }

        function updateStatus() {
            var text = '', stats;
            if ( state === 'ready' ) {
                text = '选中' + fileCount + '张图片，共' +
                    WebUploader.formatSize( fileSize ) + '。';
            } else if ( state === 'confirm' ) {
                stats = uploader.getStats();
                if ( stats.uploadFailNum ) {
                    text = '已成功上传' + stats.successNum+ '张照片，'+
                        stats.uploadFailNum + '张照片上传失败，<a class="retry" href="#">重新上传</a>失败图片或<a class="ignore" href="#">忽略</a>'
                }

            } else {
                stats = uploader.getStats();
                text = '共' + fileCount + '张（' +
                    WebUploader.formatSize( fileSize )  +
                    '），已上传' + stats.successNum + '张';

                if ( stats.uploadFailNum ) {
                    text += '，失败' + stats.uploadFailNum + '张';
                }
            }
            $info.html( text );
        }

        function setState( val ) {
            var file, stats;
            if ( val === state ) {
                return;
            }
            $upload.removeClass( 'state-' + state );
            $upload.addClass( 'state-' + val );
            state = val;
            switch ( state ) {
                case 'pedding':
                    $placeHolder.removeClass( 'element-invisible' );
                    $queue.parent().removeClass('filled');
                    $queue.hide();
                    $statusBar.addClass( 'element-invisible' );
                    uploader.refresh();
                    break;
                case 'ready':
                    $placeHolder.addClass( 'element-invisible' );
                    $( '#filePicker2' ).removeClass( 'element-invisible');
                    $queue.parent().addClass('filled');
                    $queue.show();
                    $statusBar.removeClass('element-invisible');
                    uploader.refresh();
                    break;
                case 'uploading':
                    $( '#filePicker2' ).addClass( 'element-invisible' );
                    $progress.show();
                    $upload.text( '暂停上传' );
                    break;
                case 'paused':
                    $progress.show();
                    $upload.text( '继续上传' );
                    break;
                case 'confirm':
                    $progress.hide();
                    $upload.text( '开始上传' ).addClass( 'disabled' );

                    stats = uploader.getStats();
                    if ( stats.successNum && !stats.uploadFailNum ) {
                        setState( 'finish' );
                        return;
                    }
                    break;
                case 'finish':
                    stats = uploader.getStats();
                    if ( stats.successNum ) {
                        layer.alert('上传成功', {icon: 6});
                    } else {
                        // 没有成功的图片，重设
                        state = 'done';
                        location.reload();
                    }
                    break;
            }
            updateStatus();
        }

        uploader.onUploadProgress = function( file, percentage ) {
            var $li = $('#'+file.id),
                $percent = $li.find('.progress span');
            $percent.css( 'width', percentage * 100 + '%' );
            percentages[ file.id ][ 1 ] = percentage;
            updateTotalProgress();
        };
        uploader.onFileQueued = function( file ) {
            fileCount++;
            fileSize += file.size;

            if ( fileCount === 1 ) {
                $placeHolder.addClass( 'element-invisible' );
                $statusBar.show();
            }
            addFile( file );
            setState( 'ready' );
            updateTotalProgress();
        };

        uploader.onFileDequeued = function( file ) {
            fileCount--;
            fileSize -= file.size;

            if ( !fileCount ) {
                setState( 'pedding' );
            }
            removeFile( file );
            updateTotalProgress();

        };

        uploader.on('uploadSuccess', function(file, response) {
            var imgUrl = response["data"]["urlArray"][0];
            var pic = $('#pic').val();
            if (pic === undefined || pic === ''){
                $('#pic').val(imgUrl);
            }else {
                //保存格式 img1,img2,img3
                $('#pic').val(pic + "," + imgUrl);
            }
        });

        uploader.on( 'all', function( type ) {
            var stats;
            switch( type ) {
                case 'uploadFinished':
                    setState( 'confirm' );
                    break;
                case 'startUpload':
                    setState( 'uploading' );
                    break;
                case 'stopUpload':
                    setState( 'paused' );
                    break;
            }
        });

        // 设置错误处理事件
        uploader.onError = function (code) {
            var text;
            switch (code) {
                case "F_EXCEED_SIZE":
                    text = "图片大小超出限制";
                    break;
                case "Q_EXCEED_SIZE_LIMIT":
                    text = "总大小超出限制";
                    break;
                case "Q_EXCEED_NUM_LIMIT":
                    text = "图片数量最大上传5张";
                    break;
                default:
                    text = code;
                    break;
            }
            layer.alert(text, {icon: 3});
        };

        $upload.on('click', function() {
            if ( $(this).hasClass( 'disabled' ) ) {
                return false;
            }

            if ( state === 'ready' ) {
                uploader.upload();
            } else if ( state === 'paused' ) {
                uploader.upload();
            } else if ( state === 'uploading' ) {
                uploader.stop();
            }
        });

        $info.on( 'click', '.retry', function() {
            uploader.retry();
        } );

        $info.on( 'click', '.ignore', function() {
            alert( 'todo' );
        } );

        $upload.addClass( 'state-' + state );
        updateTotalProgress();
    });
</script>
</body>

</html>