<div class="form-group">
	<label class="col-sm-2 control-label">编号</label>
	<div class="col-sm-7">
		<input type="text" name="articleData.ids" value="articleData.ids" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">版本号</label>
	<div class="col-sm-7">
		<input type="text" name="articleData.version" value="articleData.version" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">文章内容</label>
	<div class="col-sm-7">
		<input type="text" name="articleData.content" value="articleData.content" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">文章来源</label>
	<div class="col-sm-7">
		<input type="text" name="articleData.copyfrom" value="articleData.copyfrom" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">相关文章，保存id和标题  1&xxx,2&xxx</label>
	<div class="col-sm-7">
		<input type="text" name="articleData.relation" value="articleData.relation" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">是否允许评论</label>
	<div class="col-sm-7">
		<input type="text" name="articleData.allow_comment" value="articleData.allow_comment" 
			class="form-control" maxlength="xxx" vMin="xxx" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> xxx-xxx位任意字符 </span>
</div>
