<!DOCTYPE html>
<html>
<head>
    <!-- 样式文件加载开始 -->
    <#include "/include/res.html" >
    <!-- 样式文件加载结束 -->
</head>
<body class="white-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content">
                <form class="form-horizontal m-t" id="form">
                    <input type="hidden" name="id" value="${id}">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">标题:<i class="required-help">*</i></label>
                        <div class="col-sm-4">
                            <input name="title" id="title" class="form-control" type="text" value="${title}">
                        </div>
                        <label class="col-sm-1 control-label">类型:<i class="required-help">*</i></label>
                        <div class="col-sm-2" style="z-index: 9999;">
                            <select id="category" name="category"
                                    class="form-control chosen-select" disabled="disabled"">
                                <option value="1" <#if category==1> selected="selected"</#if>>注册协议</option>
                                <option value="2" <#if category==2> selected="selected"</#if>>置换协议</option>
                                <#--<option value="3" <#if category==3> selected="selected"</#if>>客服电话</option>
                                <option value="4" <#if category==4> selected="selected"</#if>>其他</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">内容:<i class="required-help">*</i></label>
                        <div class="col-sm-10"><script id="contentEdit" style="width: 100%; height: 800px;"></script></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- js加载开始 -->
<#include "/include/js.html">
<script src="${cxt!}/ui/plugins/ueditor/ueditor.config.js"></script>
<script src="${cxt!}/ui/plugins/ueditor/ueditor.all.js"></script>
<script type="text/javascript">
    var jqGridId = "#table_jq",
        formId = "#form",
        winname = "${winname!}";
        var funcs = {
        initEditor: function() {
            UE.getEditor('contentEdit', {textarea: 'content'});
            UE.getEditor('contentEdit').ready(function() {
                this.setContent('${content}');
            });
        },
        initSubmit: function (form) {
            $(formId).validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
                },
                invalidHandler: function(event, validator) { //display error alert on form submit
                },
                highlight: function(element) { // hightlight error inputs
                    $(element).closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function(element) { // revert the change done by hightlight
                    $(element).closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function(label) {
                    label.closest('.form-group').removeClass('has-error'); // set success class to the control group
                    label.remove();
                },
                submitHandler: function(form) {
                    var index = parent.layer.getFrameIndex(window.name);
                    var title = "系统提示";
                    //loading层提示
                    var loading = layer.load(2, {
                        shade: [0.3, '#fff']
                    });
                    $.ajax({
                        type: "POST",
                        async: false,
                        data: $(form).serialize(),
                        url: "/s/article/update",
                        success: function(data) {
                            var successMsg = "更新成功!",
                                failedMsg = "更新失败!";
                            if (data.message!=undefined && data.message != null && data.message!=""){
                                successMsg = data.message;
                                failedMsg = data.message;
                            }
                            if (data.code == 200) {
                                parent.notifications('success', successMsg, title);
                            } else {
                                parent.notifications('error', failedMsg, title);
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            parent.notifications('error', "更新失败,请检查网络!", title);
                        },
                        complete: function() {
                            layer.close(loading);
                            parent.layer.close(index);
                        }
                    });
                }
            });
        }
    };
        

    jQuery(document).ready(function () {
        funcs.initSubmit();
        funcs.initEditor();
    });

    function validateForm() {
        var str = UE.getEditor('contentEdit').getContent();
        var title = $("#title").val();
        if (title == '' || title == null) {
            top.layer.alert("标题不能为空!", {
                icon: 5,
                shadeClose: true
            });
            return false;
        }
        if (str == '' || str == null) {
            top.layer.alert("协议内容不能为空!", {
                icon: 5,
                shadeClose: true
            });
            return false;
        }
        $(formId).submit();
    }
</script>
</body>

</html>